{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="container cont">
  <form method="post">
    <div class="form-group row">
      <legend for="title" class="col-form-legend col-sm-3">Title</legend>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter title..."
          value="{{ request.form['title'] }}"
        />
      </div>
    </div>

    <div class="form-group row">
      <legend for="description" class="col-form-legend col-sm-3">
        Description
      </legend>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          placeholder="Enter description..."
        />
      </div>
    </div>
    <div class="form-group row">
      <legend for="description" class="col-form-legend col-sm-3">Body</legend>
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          id="body"
          name="body"
          placeholder="Enter post body..."
        />
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
