{% extends 'base.html' %} {% block content %}
<div class="user-profile">
  <div class="container">
    <div class="jumbotron">
      <h1>Zeno Nigeria</h1>
      <p>Our prenium Post</p>
    </div>
    <h3>Our Posts</h3>
    <div class="row">
      {% for post in posts %}
      <div class="col-xs-6 col-md-3">
        <tr>
          <h3>{{ post['title'] }}</h3>
          <p>{{ post['description'] }}</p>
          <h4 class="body">{{ post['body'] }}</h4>
        </tr>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- /container -->
</div>

{% endblock %}
